<IfModule mod_rewrite.c>
  RewriteEngine On

  # Se o visitante acessar a raiz vazia (meusite.com/), sirva o index.html da dist
  RewriteRule ^$ dist/index.html [L]
  
  # Se o visitante acessar um caminho não vazio, jogue-o dentro da pasta dist invisivelmente
  RewriteCond %{REQUEST_URI} !^/dist/
  RewriteRule ^(.*)$ dist/$1 [L]
</IfModule>
