<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /

  # 1. Redirecionar tudo para a pasta /dist de forma invisível
  # Se o arquivo não estiver na pasta /dist e não for uma pasta real
  RewriteCond %{REQUEST_URI} !^/dist/
  RewriteRule ^(.*)$ dist/$1 [L]

  # 2. Se acessar a raiz, carregar o index.html da dist
  RewriteRule ^$ dist/index.html [L]
</IfModule>

# Impedir listagem de diretórios (evita erro 403 se o index sumir)
Options -Indexes
